[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "df2yaml"]
	path = df2yaml
	url = https://github.com/showteeth/df2yaml
[submodule "ggcoverage"]
	path = ggcoverage
	url = https://github.com/showteeth/ggcoverage
[submodule "ggpie"]
	path = ggpie
	url = https://github.com/showteeth/ggpie
